<% set_title(product_name, "Transactions") %>

<!--
Licensed to the Apache Software Foundation (ASF) under one or more
contributor license agreements.  See the NOTICE file distributed with
this work for additional information regarding copyright ownership.
The ASF licenses this file to You under the Apache License, Version 2.0
(the "License"); you may not use this file except in compliance with
the License.  You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->

<a id="topic_e15_mr3_5k"></a>


Use <%=vars.product_name%> transactions to group the execution of cache operations and to gain the control offered by transactional commit and rollback. <%=vars.product_name%> transactions control operations within the <%=vars.product_name%> cache while the <%=vars.product_name%> distributed system handles data distribution in the usual way.

-   **[Transaction Performance](cache_transaction_performance.html)**

    Transaction performance can vary depending on the type of regions you are using.

-   **[Data Location for Transactions](data_location_cache_transactions.html)**

    The location where you can run your transaction depends on where you are storing your data.

-   **[How to Run a <%=vars.product_name%> Transaction](run_a_cache_transaction.html)**

    This topic describes how to run a <%=vars.product_name%> transaction.

-   **[How to Run a <%=vars.product_name%> Transaction that Coordinates with an External Database](run_a_cache_transaction_with_external_db.html)**

    Coordinate a <%=vars.product_name%> transaction with an external database by using CacheWriter/CacheListener and TransactionWriter/TransactionListener plug-ins, **to provide an alternative to using JTA transactions**.

-   **[Working with <%=vars.product_name%> Transactions](working_with_transactions.html)**

    This section contains guidelines and additional information on working with <%=vars.product_name%> transactions.

-   **[How <%=vars.product_name%> Transactions Work](how_cache_transactions_work.html)**

    This section provides an explanation of how transactions work on <%=vars.product_name%> caches.


